<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.catoy.docmanagement.mapper.DepartmentMapper">

    <resultMap id="DepartmentMap" type="Department">
        <id column="department_Id" property="id"></id>
        <result column="department_description" property="instroduction"></result>
        <result column="department_name" property="name"></result>
        <result column="super_id" property="parent_id"></result>
        <result column="department_number" property="departmentNumber"></result>
    </resultMap>
    <delete id="deleteDepartmentById">
        DELETE FROM department WHERE department_id = #{departmentId}
    </delete>

    <select id="getAllDepartments" resultMap="DepartmentMap">
        SELECT * FROM department
    </select>

    <!--<insert id="insertDepartment" parameterType="Department" keyProperty="id" useGeneratedKeys="true">-->
        <!--INSERT INTO department(department_description,department_name,super_id) VALUES(#{instroduction},#{name},#{parent_id})-->
    <!--</insert>-->

    <insert id="insertDepartment" parameterType="Department" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO department(department_name,super_id,department_number
        <include refid="Field" />
        )
        values(#{name},#{parent_id},#{departmentNumber}
        <include refid="Value" />
        )
    </insert>

    <sql id="Field">
        <trim prefix="," suffixOverrides=",">
            <if test="instroduction!=null and instroduction!='null' and instroduction!=''">
                department_description,
            </if>
        </trim>
    </sql>

    <sql id="Value">
        <trim prefix="," suffixOverrides=",">
            <if test="instroduction!=null and instroduction!='null' and instroduction!=''">
                #{instroduction},
            </if>
        </trim>
    </sql>

    <select id="getDepartmentNameById" resultType="java.lang.String">
        SELECT department_name FROM `department` WHERE department_id = #{id};
    </select>

    <select id="getDepartmentNumberById" resultType="java.lang.String">
        SELECT department_number FROM `department` WHERE department_id = #{id};
    </select>

    <select id="getDepartmentById" resultMap="DepartmentMap">
        SELECT * FROM `department` WHERE department_id = #{id};
    </select>

    <select id="getDepartmentIdByName" resultType="java.lang.Integer">
        SELECT department_id FROM `department` WHERE department_name = #{name};
    </select>

    <select id="getTopDepartmemt" resultMap="DepartmentMap">
        SELECT * FROM department WHERE super_id = 0
    </select>

    <select id="getDepartmentByName" resultMap="DepartmentMap">
        SELECT * FROM department WHERE department_name = #{departmentName}
    </select>

    <update id="updateDepartment" parameterType="Department">
        UPDATE department
        SET department_description = #{instroduction},
            department_name = #{name},
            super_id = #{parent_id},
            department_number = #{departmentNumber}
        WHERE
            department_id = #{id}
    </update>


</mapper>