<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.catoy.docmanagement.mapper.DocInfoAndDocLabelMapper">
    <resultMap id="DocInfoAndDocLabelMap" type="top.catoy.docmanagement.domain.DocInfoAndDocLabel">
        <id property="dLabelId" column="dLabel_id"></id>
        <result property="labelId" column="label_id"></result>
        <result column="doc_id" property="docId"></result>

    </resultMap>

    <resultMap id="DocLabelMap" type="DocLabel">
        <id column="docLabel_id" property="docLabelId"></id>
        <!--<result column="docLabel_id" property="docLabelId"></result>-->
        <result column="docLabel_name" property="docLabelName"></result>
        <result column="super_id" property="superId"></result>
    </resultMap>

    <insert id="insertDocInfoAndDocLabel">
       insert into docInfo_docLabel(label_id,doc_id) values (#{labelId},#{docId})
    </insert>

    <insert id="insertDocInfoAndDocLabels">
        INSERT INTO docInfo_docLabel(label_id,doc_id) value
        <foreach collection="docLabelList" item="docLabel" separator="," close=";">
            (#{docLabel.docLabelId},#{docId})
        </foreach>
    </insert>

    <select id="getDocLabelByDocId" resultMap="DocLabelMap">
        SELECT * FROM docLabel,docInfo_docLabel
        WHERE docLabel.docLabel_id = docInfo_docLabel.label_id
        AND docInfo_docLabel.doc_id = #{docId}
    </select>

    <select id="getAllTagsOfFile" resultType="top.catoy.docmanagement.domain.DocLabel">
        select * from docInfo_docLabel where doc_id = #{docId}
    </select>

    <select id="getAllFileOfTags" resultType="top.catoy.docmanagement.domain.DocInfo">
        select * from docInfo_docLabel where label_id = #{tagid}
    </select>

    <select id="getDocQuantityByLabelId" resultType="int">
        select count(dLabel_id) as docQuantity from docInfo_docLabel where label_id = #{docLabelId}
    </select>

    <select id="getDocInfoIdByLabelId" resultType="Integer" parameterType="java.util.List">
        SELECT doc_id FROM docInfo_docLabel
        <where>
            <choose>
                <when test="docLabels != null and  docLabels.size!=0">
                    label_id IN
                    <foreach collection="docLabels" item="docLabel"  open="(" separator="," close=")">
                        #{docLabel.docLabelId}
                    </foreach>
                </when>
                <otherwise>
                    false
                </otherwise>
            </choose>
        </where>
    </select>

    <delete id="delByDocIdAndLabelId">
        DELETE FROM
          docInfo_docLabel
        WHERE
          doc_id = #{docId}
        AND label_id IN
        <foreach collection="docLabelList" item="docLabel"  open="(" separator="," close=")">
            #{docLabel.docLabelId}
        </foreach>
    </delete>

    <delete id="delByDocId">
         DELETE FROM
          docInfo_docLabel
        WHERE
          doc_id = #{docId}
    </delete>
</mapper>