<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.catoy.docmanagement.mapper.FileSourceMapper">

    <resultMap id="FileSourceMap" type="top.catoy.docmanagement.domain.FileSource">
        <id column="fileSource_id" property="fileSourceId"></id>
        <result column="fileSource_name" property="source_name"></result>
    </resultMap>

    <insert id="insertFileSource">
        insert into fileSource (fileSource_name) values(#{source_name})
    </insert>

    <delete id="deleteFileSouce">
        delete from fileSource where fileSource_id = #{fileSourceId}
    </delete>

    <select id="getAllFileSouce" resultMap="FileSourceMap">
        select * from fileSource
    </select>

    <select id="getFileSourceById" resultType="java.lang.Integer">
        select fileSource_id from fileSource where fileSource_name = #{fileSourceName}
    </select>

</mapper>