<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.catoy.docmanagement.mapper.LogMapper">

    <resultMap id="LogMap" type="top.catoy.docmanagement.domain.Log">
        <id column="log_id" property="logId"></id>
        <!--<result column="log_id" property="logId"></result>-->
        <result column="user_id" property="userId"></result>
        <result column="op_name" property="opName"></result>
        <result column="op_date" property="opDate"></result>
        <result column="op_label" property="opLabel"></result>
    </resultMap>

    <select id="selectLogById" parameterType="int" resultMap="LogMap">
        SELECT * FROM log WHERE log_id = #{logId}
    </select>

    <select id="getAllLogs" resultMap="LogMap">
        SELECT * FROM log ORDER BY log_id DESC
    </select>
    <select id="getLogsBySearchParams" resultMap="LogMap" parameterType="LogSearchParams">
        SELECT * FROM log
        <where>
            1 = 1
                <if test="userId != 0">
                    AND user_id = #{userId,jdbcType=INTEGER}
                </if>
                <if test="opName != null and opName !=''">
                    AND op_name LIKE "%"#{opName,jdbcType=VARCHAR}"%"
                </if>
                <if test="opLabel != null and opLabel !=''">
                    AND op_label LIKE "%"#{opLabel,jdbcType=VARCHAR}"%"
                </if>
                <if test="startTime != null and startTime !=''">
                    <![CDATA[
                        AND op_date >= #{startTime,jdbcType=TIMESTAMP}
                        ]]>
                </if>
                <if test="endTime != null and endTime !=''">
                    <![CDATA[
                        AND op_date <= #{endTime,jdbcType=TIMESTAMP}
                        ]]>
                </if>
        </where>
        ORDER BY log_id DESC
    </select>

    <!--<select id="getLogsByUserOrLabel" parameterType="String" resultMap="LogMap">-->
        <!--SELECT * FROM log WHERE  op_name LIKE #{searchParam} or op_label LIKE #{searchParam}-->
    <!--</select>-->

    <!--<select id="getLogsByTime"></select>-->

    <insert id="insertLog" parameterType="Log" useGeneratedKeys="true" keyProperty="logId">
        INSERT INTO log(user_id,op_name,op_label) VALUES(#{userId},#{opName},#{opLabel})
    </insert>

</mapper>